{% extends "layout.html" %}

{% block content %}
    <style>
        body {
            background-color: #ecf0f1; /* Set a light background color for the entire page */
            font-family: 'Arial', sans-serif; /* Set a default font family */
            color: #2c3e50; /* Set text color to dark */
        }

        form {
            width: 70%; /* Adjust the width of the form */
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            margin: 20px auto; /* Center the form */
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }

        legend {
            font-size: 20px;
            color: #2c3e50;
            font-weight: bold;
            margin-bottom: 15px;
        }

        label {
            color: #2c3e50;
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .btn {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #2980b9;
        }

        div {
            text-align: center;
        }

        div span {
            color: #bdc3c7;
        }

    </style>

    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Edit Post</legend>

                <div>
                    {{ form.caption.label(class="") }}

                    {% if form.caption.errors %}
                        {{ form.caption(class="") }}
                        <div>
                            {% for error in form.caption.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.caption(class=" ") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>
{% endblock content %}
