<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0px;
          padding: 0px;
          background-color: #f5f5f5;
          padding: 20px;
        }
    </style>
</head>
<body>
    <div style="width: 414px; height: 775px; position: relative">
        <div style="width: 414px; height: 775px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 317px; height: 88px; left: 49px; top: 118px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Sarina; font-weight: 400; letter-spacing: 1.23px; word-wrap: break-word">Instagram Kw</div>
        <div style="width: 330px; height: 35px; left: 49px; top: 513px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 330px; height: 35px; background: rgba(24, 119, 242, 0.36); border-radius: 6px"></div>
        </div>
        <div style="left: 181px; top: 521px; position: absolute; color: #FFFEFE; font-size: 15px; font-family: Roboto; font-weight: 500; letter-spacing: 0.30px; word-wrap: break-word">Sign up</div>
        <div style="width: 330px; height: 92px; left: 49px; top: 227px; position: absolute">
          <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(231.63, 229.69, 229.69, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
          <div style="width: 330px; height: 42px; left: 0px; top: 50px; position: absolute">
            <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(232, 230, 230, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
            <div style="width: 70.90px; height: 16px; left: 18px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">fullname</div>
          </div>
          <div style="width: 233px; height: 16px; left: 18px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">username</div>
        </div>
        <div style="width: 330px; height: 42px; left: 49px; top: 377px; position: absolute">
          <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(231.63, 229.69, 229.69, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
          <div style="width: 233px; height: 16px; left: 18px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">password</div>
        </div>
        <div style="width: 330px; height: 142px; left: 49px; top: 327px; position: absolute">
          <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(231.63, 229.69, 229.69, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
          <div style="width: 330px; height: 42px; left: 0px; top: 100px; position: absolute">
            <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(232, 230, 230, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
            <div style="width: 192px; height: 16px; left: 18px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">confirm password</div>
          </div>
          <div style="width: 233px; height: 16px; left: 16px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">email<br/></div>
        </div>
      </div>
</body>
</html>