<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0px;
          padding: 0px;
          background-color: #f5f5f5;
          padding: 20px;
        }
    </style>
</head>
<body>
  <div style="width: 414px; height: 775px; position: relative; background: white">
    <div style="width: 330px; height: 35px; left: 42px; top: 398px; position: absolute">
      <div style="width: 330px; height: 35px; left: 0px; top: 0px; position: absolute; background: rgba(24, 119, 242, 0.36); border-radius: 6px"></div>
      <div style="left: 147px; top: 10px; position: absolute; color: #FFFEFE; font-size: 15px; font-family: Roboto; font-weight: 500; letter-spacing: 0.30px; word-wrap: break-word">Log In</div>
    </div>
    <div style="width: 330px; height: 92px; left: 42px; top: 250px; position: absolute">
      <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(231.63, 229.69, 229.69, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
      <div style="width: 330px; height: 42px; left: 0px; top: 50px; position: absolute">
        <div style="width: 330px; height: 42px; left: 0px; top: 0px; position: absolute; background: rgba(232, 230, 230, 0.50); border-radius: 6px; border: 2px #ECE6E6 solid"></div>
        <div style="width: 70.90px; height: 16px; left: 18px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">password</div>
      </div>
      <div style="width: 233px; height: 16px; left: 18px; top: 13px; position: absolute; color: #B0B0B0; font-size: 13px; font-family: Roboto; font-weight: 500; word-wrap: break-word">username</div>
    </div>
    <div style="width: 114px; height: 18px; left: 258px; top: 355px; position: absolute; color: #1877F2; font-size: 13px; font-family: Roboto; font-weight: 500; letter-spacing: 0.46px; word-wrap: break-word">Forgot password?</div>
    <div style="width: 218px; height: 29px; left: 98px; top: 581px; position: absolute"><span style="color: #AEA9A9; font-size: 15px; font-family: Roboto; font-weight: 500; letter-spacing: 0.30px; word-wrap: break-word">Don’t have an account?</span><span style="color: black; font-size: 15px; font-family: Roboto; font-weight: 500; letter-spacing: 0.30px; word-wrap: break-word"> </span><span style="color: #267FF3; font-size: 15px; font-family: Roboto; font-weight: 500; letter-spacing: 0.30px; word-wrap: break-word">sign up</span></div>
    <div style="width: 317px; height: 88px; left: 42px; top: 112px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Sarina; font-weight: 400; letter-spacing: 1.23px; word-wrap: break-word">Instagram Kw</div>
  </div>
</body>
</html>