{% extends 'layout.html' %}
	
{% block content %}
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #3498db; /* Blue background color */
            font-family: 'Roboto', sans-serif;
            margin: 0; /* Remove default margin */
        }

        form {
            width: 300px;
            background-color: #fff;
            padding: 20px;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            width: 350px;
            text-align: center;
            margin: auto; /* Center the form */
            margin-top: 50px; /* Add margin-top for spacing */
        }

        legend {
            font-size: 20px;
            color: #333;
            font-weight: bold;
            margin-bottom: 15px;
        }

        label {
            color: #333;
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .btn {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #2980b9;
        }

        small {
            color: #666;
            display: block;
            margin-top: 10px;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            color: #2980b9;
        }
    </style>

    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Login</legend>

                <div>
                    {{ form.username.label(class="") }}

                    {% if form.username.errors %}
                        {{ form.username(class="") }}
                        <div>
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class=" ") }}
                    {% endif %}
                </div>

                <div>
                    {{ form.password.label(class="") }}

                    {% if form.password.errors %}
                        {{ form.password(class="") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class=" ") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn") }}
                <small>
                    <a href="{{ url_for('forgot') }}">Forgot your password?</a>
                </small>
            </div>
            <small>
                <a href="{{ url_for('signup') }}">Have no account?</a>
            </small>
        </form>
    </div>
{% endblock content %}
