<header>
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('profile', username = current_user.username) }}">Profile</a>
        </li>
        <li>
            <a href="{{ url_for('edit_profile', username = current_user.username) }}">Edit Profile</a>
        </li>
        <li>
            <a href="{{ url_for('edit_post') }}">Edit Post</a>
        </li>
        <li>
            <a href="{{ url_for('reset') }}">Reset Password</a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">Logout</a>
        </li>
    </ul>
</header>